html,body {
  height: 100%;
  margin: 0;
}

body {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 1px solid rgb(0, 255, 51);
  background-color: #000000;
}

#p1 {
  color: #CCC9DC;
  position: absolute;
  /* left: 100px; */
  top: 10px;
  font-family: Courier;
  font-size: x-large;
}

#p2 {
  color: #CCC9DC;
  position: absolute;
  /* left: 100px; */
  top: 30px;
  font-family: Courier;
  font-size: x-large;
  margin-top: 35px;
}

#button {
  color: #000000;
  position: absolute;
  bottom: 5vh;
  width: 20vh;
  font-family: Courier;
  font-size: x-large;
  margin-bottom: 70px;
  border-radius: 8px;
  border: solid;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 15px;
}
#button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  }

#score {
  color: yellow;
}

#high {
  color: #E43F5A;
}
